<div class="col-lg-4 pull-right">
    <div class="panel panel-default">
        <div class="panel-heading">Join Group</div>
        <div class="panel-body">
            <form class="form-inline">
                <p style="font-size: 13px;">Enter invitation code received by group Administrators</p>
                <div class="form-group">
                    <label for="code_insert">Invite Code</label>
                    <input type="text" class="form-control" name="code_insert" id="code_insert"
                           placeholder="eg: 12A34bC5">
                </div>
                <br>
                <button type="submit" class="btn btn-sm btn-primary-outline">Submit</button>
            </form>
        </div>
    </div>
</div>