<div class="">
    <div class="code-panel panel panel-primary">
        <div class="panel-heading">Join Group</div>
        <div class="panel-body">
            <form id="code_form" class="form-inline">
                <p style="font-size: 13px;">Enter invitation code received by group Administrators</p>
                <div class="form-group">
                    <label for="code_insert">Invite Code</label>
                    <input type="text" class="form-control" name="code_insert" id="code_insert"
                           placeholder="eg: 12A34bC5" autocomplete="off">
                </div>
                <br><button type="button" class="code_btn btn btn-sm btn-primary-outline">Submit</button><br>
            </form>
        </div>
    </div>
</div>