<!-- Footer -->
<footer id="footer">
    <div class="col-lg-5">
        <ul class="list-inline">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="footer-menu-divider">⋅</li>
            <li>
                <a href="/results">Results</a>
            </li>
        </ul>
        <p class="copyright text-muted small">Copyright © SIPS 2016. All Rights Reserved</p>
    </div>
</footer>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- MetisMenu JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.4.0/metisMenu.min.js"></script>
