form#slider {
    margin: 0 auto;
    clear: left;
}

form#slider article {
    background: white;
    padding: 30px;
    float: left;
    margin-top: 20px;
    width: 100%;
    border-radius: 4px
}


.form-item {
    margin-bottom: 10px;
    float: left;
}

input.form-submit {
    background: #8fcaf3 !important;
    color: white;
    float: right !important;
}

a.next, a.prev, .submit {
    background: #3F5D72;
    display: block;
    float: right;
    width:180px;
    margin: 10px 0 0 164px;
    text-align: center;
    clear: both;
    padding: 7px 13px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: white;
    text-decoration: none
}
a.next:focus, a.next:hover, a.prev:focus, a.prev:hover, .submit:hover {
    color: white;
    text-decoration: underline;
}

#page {
    float: left;
    margin: 10px 0 0 0;
    list-style: none;
}

#page li {
    float: left;
    margin: 0 5px 0 0;
    padding: 5px 15px;
    background: #2f61f3;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: white;
}

#page li a {
    color: white;
    text-decoration: none
}

.control-label {
    color: black !important;
    font-weight: bold;
}
.radio-inline {
    font-size: 16px;
}

.error-required {
    color:#FF0000 !important;
}

@media (min-width: 768px) {
    .container {
        width: 655px;
    }
}
@media (max-width: 768px){
    .container {
        width: 100%;
    }
    .control-label.h4{
        padding-bottom: 50px;
    }

    input[type=radio] {
        list-style: none;
    }

    .radio-inline{
        display: block;

    }
    .radio-inline.btn{
    // width: 200px;
        margin-bottom: 2px;
        white-space: normal;
        margin-left: 0px;
    }
    .radio-inline.btn input{
        filter:alpha(opacity=0);
        -moz-opacity:0;
        -khtml-opacity: 0;
        opacity: 0;
    }
    .radio-inline.btn input[type="radio"]:checked{
        background-color: grey;
    }
}
@media (min-width: 992px) {
    .container {
        width: 655px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 655px;
    }
}

legend{
    font-size: 16px;
}