body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #a0bcef !important;
}

a {
  color: #00B7FF;
}

.pull-right .panel-tabs li {
  float: left;
}
.nav.panel-tabs>li>a {
  position: relative;
  display: block;
  padding: 0px 15px;
}