<!DOCTYPE html>
<html>
<head>
    <title>Submission Completed</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1>Thank you for submitting the form!</h1>
<p>(add link or redirect to home/profile here)</p>
</body>
</html>
