<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link rel='stylesheet' href='/stylesheets/forms.css'/>
</head>
<body>

<%
postTarget = "/forms/next";
%>

<form action="<%= postTarget %>" method="post" id="slider" class="container">
    <div class="form_description">
        <h2><%= title %></h2>

        <div id="progress-container">
            <p id="part_indicator">Please enter basic profile information below.</p>
        </div>

        <ul id='page' class="progress_counter"></ul>
    </div>
    <div class="form-group">

        <!-- Question 1 -->
        <article id="apage_1" class="part1 visible Question1">
            <h3 class="control-label">What is your name? </h3>
            <span class="q-container">
                <input id="fname" name="fname" class="element text medium other required" maxlength="30" value=""
                       type="text"
                       oninput="checkInput_URF(this)" placeholder="First name">
                <input id="lname" name="lname" class="element text medium other required" maxlength="30" value=""
                       type="text"
                       oninput="checkInput_URF(this)" placeholder="Last name">
            </span>
            <div class="" style="float:right;"></div>
        </article>

        <!-- Question 2 -->
        <article id="apage_2" class="part1 visible Question2">
            <h3 class="control-label">What is your age? </h3>
            <div class="">
                <input id="age" name="age" class="element text medium other required" maxlength="3" value=""
                       type="number"
                       oninput="checkInput_URF(this)">
            </div>
        </article>

        <!-- Question 3 -->
        <article id="apage_3" class="part1 visible Question3">
            <h3 class="control-label">What is your gender? </h3>
            <div class="">
                <select id="gender" class="required" style="width:100px;" oninput="checkInput_URF(this)">
                    <option value="" disabled selected>Select</option>
                    <option value="0">male</option>
                    <option value="1">female</option>
                    <option value="2">other</option>
                </select>
            </div>
        </article>

        <!-- Question 4 -->
        <article id="apage_4" class="part1 visible Question4">
            <h3 class="control-label">What is your weight?</h3>
            <div class="">
                <input id="weight" name="weight" class="element text medium other required" maxlength="3" value=""
                       type="number"
                       oninput="checkInput_URF(this)">
            </div>
        </article>

        <!-- Question 5 -->
        <article id="apage_5" class="part1 visible Question5">
            <h3 class="control-label">What is your height?</h3>
            <div class="">
                <label class=" control-label" for="ht-ft">Height: </label>
                <select id="ht_ft" name="ht_ft" class="required" style="width:50px;" oninput="checkInput_URF(this)">
                    <option value="" disabled selected>ft</option>
                    <option value="2">2 ft</option>
                    <option value="3">3 ft</option>
                    <option value="4">4 ft</option>
                    <option value="5">5 ft</option>
                    <option value="6">6 ft</option>
                    <option value="7">7 ft</option>
                    <option value="8">8 ft</option>
                </select>
                <select id="ht_in" name="ht_in" class="required" style="width:50px; float: initial;"
                        oninput="checkInput_URF(this)">
                    <option value="" disabled selected>in</option>
                    <option value="0">0 in</option>
                    <option value="1">1 in</option>
                    <option value="2">2 in</option>
                    <option value="3">3 in</option>
                    <option value="4">4 in</option>
                    <option value="5">5 in</option>
                    <option value="6">6 in</option>
                    <option value="7">7 in</option>
                    <option value="8">8 in</option>
                    <option value="9">9 in</option>
                    <option value="10">10 in</option>
                    <option value="11">11 in</option>
                    <option value="12">12 in</option>
                </select>
            </div>
        </article>

        <!-- Question 6 -->
        <article id="apage_6" class="part1 visible Question6">
            <h3 class="control-label"><label class="question-label">What sport(s) are you in?</label>
            </h3>
            <div class="">
                <label class="radio" for="sport-0">
                    <input name="sport_soccer" class="check_box" id="sport-0" value="Soccer" type="checkbox">
                    Soccer
                </label>
                <label class="radio" for="sport-1">
                    <input name="sport_volleyball" class="check_box" id="sport-1" value="Volleyball" type="checkbox">
                    Volleyball
                </label>
                <label class="radio" for="sport-2">
                    <input name="sport_football" class="check_box" id="sport-2" value="Football" type="checkbox">
                    Football
                </label>
                <label class="radio" for="sport-3">
                    <input name="sport_baseball" class="check_box" id="sport-2" value="Baseball" type="checkbox">
                    Baseball
                </label>
                <label class="radio" for="sport-4">
                    <input name="sport_basketball" class="check_box" id="sport-2" value="Basketball" type="checkbox">
                    Basketball
                </label>
                <label class="radio" for="sport-5">
                    <input name="sport_tennis" class="check_box" id="sport-3" value="Tennis" type="checkbox">
                    Tennis
                </label>
                <label class="radio" for="sport-6">
                    <input name="sport_golf" class="check_box" id="sport-4" value="Golf" type="checkbox">
                    Golf
                </label>
                <label class="radio" for="sport-7">
                    <input name="sport_track_cross" class="check_box" id="sport-5" value="Track/Cross-Country"
                           type="checkbox">
                    Track/Cross-Country
                </label>
                <label class="radio" for="sport-8">
                    <input name="sport_softball" class="check_box" id="sport-6" value="Softball" type="checkbox">
                    Softball
                </label>
                <label class="radio" for="sport-9">
                    <input name="sport_wrestling" class="check_box" id="sport-7" value="Wrestling" type="checkbox">
                    Wrestling
                </label>
                <label class="radio" for="sport-10">
                    <input name="sport_lacrosse" class="check_box" id="sport-7" value="Lacrosse" type="checkbox">
                    Lacrosse
                </label>
                <label class="radio" for="sport-11">
                    <input name="sport_isOther" class="check_box" id="sport-8" value="Other" type="checkbox"
                           onClick="checkInput_URF(this)">
                    Other
                </label>
                <input id="sport-other" name="sport_other" class="element text medium other" maxlength="30" value=""
                       type="text"
                       oninput="checkInput_URF(this)" placeholder="Please specify" style="display: none;">
            </div>
        </article>
    </div>

    <input name="form_id" value="registrationform" type="hidden">


</form>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/additional-methods.min.js"></script>

<script src="/js/forms/Forms.js" ></script>

</body>
</html>
