<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <link rel='stylesheet' href='/stylesheets/forms.css'/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</head>
<body>

<%
postTarget = "/forms/next";
%>

<form action="<%= postTarget %>" method="post" id="slider">
    <div class="form_description">
        <h2><%= title %></h2>

        <div id="progress-container">
            <p id="part_indicator">Please enter basic profile information below.</p>
        </div>

        <ul id='page' class="progress_counter"></ul>
    </div>
    <div class="form-group">

        <!-- Question 1 -->
        <article id="apage_1" class="part1 visible Question1">
            <h3 class="control-label">What is your name? </h3>

            <div class="">
                <label class=" control-label" for="fname">First: </label>
                <input id="fname" name="fname" class="element text medium other" maxlength="30" value="" type="text"
                       oninput="checkInput_URF(this)">
                <br><br>
                <label class=" control-label" for="lname">Last: </label>
                <input id="lname" name="lname" class="element text medium other" maxlength="30" value="" type="text"
                       oninput="checkInput_URF(this)">
            </div>
        </article>

        <!-- Question 2 -->
        <article id="apage_2" class="part1 visible Question2">
            <h3 class="control-label">What is your age? </h3>
            <div class="">
                <input id="age" name="age" class="element text medium other" maxlength="3" value="" type="number"
                       oninput="checkInput_URF(this)">
            </div>
        </article>

        <!-- Question 3 -->
        <article id="apage_3" class="part1 visible Question3">
            <h3 class="control-label">What is your gender? </h3>
            <div class="">
                <select id="gender" style="width:100px;" oninput="checkInput_URF(this)">
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                    <option value="2">Other</option>
                </select>
            </div>
        </article>

        <!-- Question 4 -->
        <article id="apage_4" class="part1 visible Question4">
            <h3 class="control-label">What is your weight?</h3>
            <div class="">
                <input id="weight" name="weight" class="element text medium other" maxlength="3" value="" type="number"
                       oninput="checkInput_URF(this)">
            </div>
        </article>

        <!-- Question 5 -->
        <article id="apage_5" class="part1 visible Question5">
            <h3 class="control-label">What is your height?</h3>
            <div class="">
                <label class=" control-label" for="ht-ft">ft: </label>
                <select id="ht-ft" name="ht-ft" style="width:50px;" oninput="checkInput_URF(this)">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
                <br>
                <label class=" control-label" for="ht-in">in: </label>
                <select id="ht-in" name="ht-in" style="width:50px;" oninput="checkInput_URF(this)">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
            </div>
        </article>
    </div>

    <input name="form_id" value="registrationform" type="hidden">


</form>

<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/additional-methods.min.js"></script>
<script src="/javascripts/forms/Forms.js"></script>

</body>
</html>
